@charset "UTF-8";

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #b6c2c4, #d0d0c4, #b6c2c4, #d9d7ca, #98a39f);
  background-size: 400% 400%;
  animation: waveAnimation 10s ease infinite;
  overflow-x: hidden;
  color: #333;
  
  margin: 0;
}





/* Navbar */
.navbar {
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .nav-link {
  color: green;
  font-size: 1rem;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #fff;
  text-shadow: 0 0 5px green;
}





h1, h2 {
  font-weight: bold;
  color: #2c3e50;
}





/* Carousel */
.carousel-item img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.carousel-item p {
  font-size: 1.2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  display: inline-block;
  
  
}




/* Background Animation */
@keyframes waveAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}






.hero {
  background: url('/Imagenes/HamburguesaFondo.jpg') no-repeat center center / cover;
  color: white;
  padding: 200px 0;
}

.destacados h4 {
  color: #16a085;
  
  
}

.carousel-item img {
  border-radius: 8px;
}



/* Footer */
footer {
  background: #0f2027;
  color: #ecf0f1;
  padding: 20px 0;
  text-align: center;
  margin-top: 40px;
}

footer p {
  margin: 5px 0;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

footer .social-icons {
  margin-top: 15px;
}

footer .social-icon img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .social-icon img:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}




