<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${titulo}"></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <img src="imagenes/Logo.png" alt="Logo" style="width: 100px; margin-right: 10px;">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/Menu">Menú</a>
        <a class="nav-link" href="/Bebidas">Bebidas</a>
        <a class="nav-link" href="/Promociones">Promociones</a>
        <a class="nav-link" href="/ChatBot">ChatBot Para Consultas</a>
      </div>
    </div>
    <a href="https://wa.me/51977394307" target="_blank">
      <img src="/Imagenes/Whatsapp logo.png" alt="WhatsApp" style="width: 50px; height: auto; margin-right: 30px; border: 0;">
    </a>
  </div>
</nav>






<!-- Hero Section -->
<section class="hero bg-light text-center text-white" style="background: url('/Imagenes/HamburguesaFondo.jpg') no-repeat center center / cover;">
  <div class="container py-5">
    <h1 class="display-4" style="color:white;text-transform: uppercase; font-weight: bold;">¡Disfruta el Sabor!</h1>
    
    <p class="lead">La mejor comida rápida saludable, sabrosa y fresca.</p>
    <a href="/Menu" class="btn btn-success btn-lg">Ver Menú</a>
  </div>
</section>



<!-- Destacados -->
<section class="destacados py-5">
  <div class="container text-center">
    <h2 class="text-success">Nuestros Platillos Destacados</h2>
    <div class="row mt-4">
      <div class="col-md-4">
        <a href="/Inicio/Hamburguesas" class="social-icon">
        <img src="/Imagenes/HamburguesaImagen" alt="Hamburguesa" class="rounded shadow img-fluid" style="width: 100px; height: auto; margin-right: 0px; border: 0px ">
        </a>
        <h4 class="mt-3">Hamburguesas</h4>
        
      </div>
      
      <div class="col-md-4">
        <a href="/Inicio/Pizzas" class="social-icon">
        <img src="/Imagenes/PizzaImagen" alt="Pizza" class="rounded shadow img-fluid" style="width: 100px; height: auto; margin-right: 0px; border: 0px">
        </a>
        <h4 class="mt-3">Pizzas</h4>
      </div>
      
      <div class="col-md-4">
        <a href="/Inicio/JugosNaturales" class="social-icon">
        <img src="/Imagenes/JugosImagen.png" alt="Bebidas" class="rounded shadow img-fluid" style="width: 100px; height: auto; margin-right: 0px; border: 0px">
        </a>
        <h4 class="mt-3">Jugos Naturales</h4>
      </div>
      
    </div>
  </div>
</section>




<section class="hero bg-light text-center text-white" style="background: url('/Imagenes/FamiliaFondo.avif') no-repeat center center / cover";>
  <div class="container py-5">
    <h1 class="display-4"style="color:#61a706;text-transform: uppercase; font-weight: bold;">¡Disfruta con la Familia!</h1>
    
    <p class="lead">Cada día, muchas familias visitan Ratio y es nuestra responsabilidad actuar respecto a algunos de los asuntos que más les preocupan. La nutrición, la educación y la salud son los tres pilares fundamentales en la vida de las familias y los mismos sobre los que se construye nuestro compromiso diario con ellas. La mayor responsabilidad que tenemos como Compañía es asegurar el bienestar de las muchas familias que nos visitan cada día.</p>
    
    
  </div>
</section>




<!-- Carousel -->
<div id="carouselExampleAutoplaying" class="carousel slide py-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="imagenes/Imagen1Productos.jpg" class="d-block w-100 rounded" alt="Comida 1">
    </div>
    <div class="carousel-item">
      <img src="imagenes/Imagen2Productos.jpg" class="d-block w-100 rounded" alt="Comida 2">
    </div>
    <div class="carousel-item">
      <img src="imagenes/Imagen3Productos.jpg" class="d-block w-100 rounded" alt="Comida 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Siguiente</span>
  </button>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <p>&copy; 2024. Todos los derechos reservados.</p>
    <p>Desarrollado por un estudiante de La Casa Informatica del Curso de Java.</p>
    
    <div class="social-icons">
      <a href="https://wa.me/51977394307" target="_blank" class="social-icon">
        <img th:src="@{imagenes/Imagen1.jpg}" alt="WhatsApp">
      </a>
      
      <a href="https://www.linkedin.com/in/joseph-t-9aa23a2b6/" target="_blank" class="social-icon">
        <img th:src="@{imagenes/Imagen2.png}" alt="Facebook">
      </a>
    </div>
  </div>
</footer>

</body>
</html>
