<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/Promociones.css}"></link>
<title th:text="${titulo4}"></title>

</head>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex align-items-center">
    <!-- Logo -->
    <img src="imagenes/Logo.png" alt="Logo" style="width: 100px; height: auto; margin-right: 10px;">
    
    <!-- Navbar -->
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/Menu">Menu</a>
        <a class="nav-link" href="/Bebidas">Bebidas</a>
        <a class="nav-link" href="/Promociones">Promociones</a>
        <a class="nav-link" href="/ChatBot">ChatBot para consultas</a>
        
      </div>
    </div>
    
    <a href="https://wa.me/51977394307" target="_blank" class="social-icon" >
        <img th:src="@{imagenes/Whatsapp logo.png}" alt="WhatsApp" style="width: 50px; height: auto; margin-right: 30px;">
      </a>
    
  </div>
</nav>





<h2 class="text-3xl font-bold underline text-center" style="color:black; margin:2rem;">Promociones</h2>




<div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap; margin: 2rem;">
  <!-- Card 1 -->
  <div class="card" style="width: 18rem;">
    <img src="Imagenes/Promociones/EnsaladaConPapasFritas.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body" style="color: green;">
      <h5 class="card-title">Ensalada Veguetariana Equilibrada Familiar</h5>
      <p class="card-text" style="color:black;">La Ensalada vegetariana esta acompañada de papas fritas crujientes. La ensalada incluye una mezcla de hojas verdes, tomate cherry, pepino, y aguacate. Junto a ella, nuestras papas fritas doradas que añaden una textura irresistible al plato. Ideal para una comida ligera, deliciosa y completamente vegetariana. ¡Una opción que encanta a todos los paladares!</p>
      <a href="https://wa.me/51977394307?text=Deseo%20la%20Ensalada%20Veguetariana%20Equilibrada%20Familiar" class="btn btn-primary">Comprar</a>
      <span class="price-tag" style="color: black;">S/. 20</span>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card" style="width: 18rem;">
    <img src="Imagenes/Promociones/HamburguesasPara2.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body" style="color: green;">
      <h5 class="card-title">Hamburguesas combo Doble</h5>
      <p class="card-text" style="color:black;">Las Hamburguesas combo doble gourmet, preparadas con ingredientes frescos y de la mejor calidad, acompañadas de 2 crujientes porciones de papas fritas y de 2 refrescantes gaseosas Coca-Cola personales. La combinación ideal para dos personas . ¡No te quedes con el antojo! Haz tu pedido y vive una experiencia de sabor única.</p>
      <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Doble" class="btn btn-primary">Comprar</a>
      <span class="price-tag" style="color: black;">S/. 27</span>
    </div>
  </div>

  <!-- Card 3 -->
  <div class="card" style="width: 18rem;">
    <img src="Imagenes/Promociones/HamburguesasPara3.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body" style="color: green;">
      <h5 class="card-title">Hamburguesas Combo Triple</h5>
      <p class="card-text" style="color:black;">Disfruta de tres deliciosas e irresistibles hamburguesas combo triple gourmet, acompañadas de una enorme porción de papas fritas doradas y una refrescante botella de Coca-Cola de 1.5LT. Perfecto para compartir en grupo, con amigos o en familia. Sabor, calidad y frescura en cada bocado. ¡Haz tu pedido ahora y déjate conquistar por este festín irresistible! </p>
      <a href="https://wa.me/51977394307?text=Deseo%20las%20Hamburguesas%20combo%20Triple" class="btn btn-primary">Comprar</a>
      <span class="price-tag" style="color: black;">S/. 40</span>
    </div>
  </div>
  
  

  <!-- Card 4 -->
  <div class="card" style="width: 18rem;">
    <img src="Imagenes/Promociones/PizzaCuadrada1.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body" style="color: green;">
      <h5 class="card-title">Pizza Cuadrada Grande Familiar</h5>
      <p class="card-text" style="color:black;">Pizza cuadrada gourmet, es una explosión de sabores en cada bocado. Preparada con una base crujiente y los ingredientes más frescos como pepperoni, vegetales y quesos que se derriten en tu boca. Ideal para reuniones, familia o simplemente para disfrutar de un festín lleno de sabor. ¡No esperes más! Haz tu pedido y vive una experiencia inolvidable. </p>
      <a href="https://wa.me/51977394307?text=Deseo%20la%20Pizza%20Cuadrada%20Grande%20Familiar" class="btn btn-primary">Comprar</a>
      <span class="price-tag" style="color: black;">S/. 40</span>
    </div>
  </div>
   
  
  <!-- Card 5 -->
  <div class="card" style="width: 18rem;">
    <img src="Imagenes/Promociones/Imagen1Productos.jpg" class="card-img-top" alt="Product Image">
    <div class="card-body" style="color: green;">
      <h5 class="card-title">Hamburguesa Buffet</h5>
      <p class="card-text" style="color:black;"> Las Hamburguesa Buffet esta preparada con ingredientes frescos y de la mejor calidad, acompañada de una crujiente porcion de papas fritas y de un gran vaso de jugo de fresa. La combinación para quienes buscan satisfacer su hambre. ¡No te quedes con el antojo! Haz tu pedido y vive una experiencia de sabor única.</p>
      <a href="https://wa.me/51977394307?text=Deseo%20la%20Hamburguesa%20Buffet" class="btn btn-primary">Comprar</a>
      <span class="price-tag" style="color: black;">S/. 13.50</span>
    </div>
  </div>
  
  
  
  
</div>
















<footer>
  <div class="container">
    <p>&copy; 2024. Todos los derechos reservados.</p>
    <p>Desarrollado por un estudiante de La Casa Informatica del Curso de Java.</p>
    
    <div class="social-icons">
      <a href="https://wa.me/51977394307" target="_blank" class="social-icon">
        <img th:src="@{imagenes/Imagen1.jpg}" alt="WhatsApp">
      </a>
      
      <a href="https://www.linkedin.com/in/joseph-t-9aa23a2b6/" target="_blank" class="social-icon">
        <img th:src="@{imagenes/Imagen2.png}" alt="Facebook">
      </a>
    </div>
  </div>
</footer>



</body>
</html>